.at-article__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.sava-btn {

  position: fixed;
  right: 30px;
  bottom: 120px;

  &__text {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
