.user-box {
  display: flex;
  align-items: center;

  padding: 136px 40px 36px 40px;
  background-color: $orange;


  &--text {
    padding: 0 30px;
    font-size: 40px;
    font-weight: 500;
    color: $white;

  }

}
